.main-nav {
  width: 900px;
  max-width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  align-items: center;
  margin-bottom: 0px;
}

.nav-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  color: white;
}

a{
  color:white;
  padding: 10px;
 
  

}
a:hover{
  background-color: black;
  border-radius: 20px;
}

.item{
  margin: 0 15px;
}