.post-container{
    margin: 20px auto;
    height: auto;
    display: flex;  
    flex-direction: column;  
    justify-content: center;
    align-items: center;
}
.navigation-container{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between 
}
.image-container{
    margin: auto;
    display: flex;
    align-content: center;
    justify-content: center;
    height: 300px;
    width: 300px;
}
.button{
    background-color: rgba(255, 128, 255, 0);
    border: none;
}

.tag-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin:  10px;
}
.tag{
    margin: 10px;
    padding: 5px 10px;
    background-color: #1a1c1b;
    border-radius: 20px;
}

.comment-container{
    margin: 10px;
    padding: 5px 10px;
    background-color: #38423c;
    width: 40%;
}